{
  "Name": "Single Files/Ammo Obsolete",
  "NameDialog": "File Name",
  "IdDialog": "ID",
  "Items": [
    {
      "Filename": "{1}_ammoObsolete",
      "Type": "File",
      "Content": {
		    "ItemType": 4,
		    "Id": "%n{0}"
		}
    }
  ]
}