{
	"Name": "Single Files/        Fleet",
	"NameDialog": "File Name",
	"IdDialog": "ID",
	"Items": [
		{
			"Filename": "{1}_fleet",
			"Type": "File",
			"Content": {
				"ItemType": 18,
				"Id": "%n{0}",
				"Factions": {}
			}
		}
	]
}