{
	"Name": "Single Files/        Combat Rules",
	"NameDialog": "File Name",
	"IdDialog": "ID",
	"Items": [
		{
			"Filename": "{1}_combatRules",
			"Type": "File",
			"Content": {
				"ItemType": 30,
				"Id": "%n{0}"
			}
		}
	]
}