<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="GameDatabase.Theme.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="GameDatabase.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
    </startup>
    <userSettings>
        <GameDatabase.Theme.Settings>
            <setting name="MenuStripGradientBegin" serializeAs="String">
                <value>242, 188, 87</value>
            </setting>
            <setting name="MenuStripGradientEnd" serializeAs="String">
                <value>242, 188, 87</value>
            </setting>
            <setting name="MenuStripForeColor" serializeAs="String">
                <value>WhiteSmoke</value>
            </setting>
            <setting name="MenuItemPressedGradientBegin" serializeAs="String">
                <value>242, 188, 87</value>
            </setting>
            <setting name="MenuItemPressedGradientMiddle" serializeAs="String">
                <value>242, 188, 87</value>
            </setting>
            <setting name="MenuItemPressedGradientEnd" serializeAs="String">
                <value>Silver</value>
            </setting>
            <setting name="MenuItemSelectedGradientBegin" serializeAs="String">
                <value>242, 188, 87</value>
            </setting>
            <setting name="MenuItemSelectedGradientEnd" serializeAs="String">
                <value>242, 188, 87</value>
            </setting>
            <setting name="MenuItemSelected" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="ImageMarginGradientBegin" serializeAs="String">
                <value>143, 121, 46</value>
            </setting>
            <setting name="ImageMarginGradientMiddle" serializeAs="String">
                <value>242, 188, 87</value>
            </setting>
            <setting name="ImageMarginGradientEnd" serializeAs="String">
                <value>242, 188, 87</value>
            </setting>
            <setting name="MenuBorder" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="MenuItemBorder" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="ToolStripBorder" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="ToolStripContentPanelGradientBegin" serializeAs="String">
                <value>242, 188, 87</value>
            </setting>
            <setting name="ToolStripContentPanelGradientEnd" serializeAs="String">
                <value>242, 188, 87</value>
            </setting>
            <setting name="ToolStripDropDownBackground" serializeAs="String">
                <value>LightGray</value>
            </setting>
            <setting name="ToolStripGradientBegin" serializeAs="String">
                <value>242, 188, 87</value>
            </setting>
            <setting name="ToolStripGradientMiddle" serializeAs="String">
                <value>242, 188, 87</value>
            </setting>
            <setting name="ToolStripGradientEnd" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="StatusStripGradientBegin" serializeAs="String">
                <value>242, 188, 87</value>
            </setting>
            <setting name="StatusStripGradientEnd" serializeAs="String">
                <value>242, 188, 87</value>
            </setting>
            <setting name="ToolStripForeColor" serializeAs="String">
                <value>Black</value>
            </setting>
            <setting name="StatusStripForeColor" serializeAs="String">
                <value>WhiteSmoke</value>
            </setting>
            <setting name="ShipEditorHorizontalSplitter" serializeAs="String">
                <value>272</value>
            </setting>
            <setting name="ShipEditorVerticalSplitter" serializeAs="String">
                <value>364</value>
            </setting>
        </GameDatabase.Theme.Settings>
        <GameDatabase.Properties.Settings>
			<setting name="ShipEditorHorizontalSplitter" serializeAs="String">
				<value>272</value>
			</setting>
			<setting name="ShipEditorVerticalSplitter" serializeAs="String">
				<value>364</value>
			</setting>
            <setting name="MainSize" serializeAs="String">
                <value>800, 600</value>
            </setting>
            <setting name="MainPosition" serializeAs="String">
                <value>100, 100</value>
            </setting>
            <setting name="SortingType" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ClosingConfirmation" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Setting" serializeAs="String">
                <value />
            </setting>
        </GameDatabase.Properties.Settings>
    </userSettings>
</configuration>