{
  "Name": "Satellite/1 Sizes",
  "NameDialog": "File Name",
  "IdDialog": "ID",
  "Items": [
	  {
		"Filename": "{1}_satellite",
		"Type": "File",
		"Content": {
		  "ItemType": 7,
		  "Id": "%n{0}",
		  "Name": "%s{1}",
		  "ModelImage": "satellite1",
		  "ModelScale": 1.0,
		  "SizeClass": -1,
		  "Layout": "4",
		  "Barrels": [
			{
			  "Position": {
				"x": 0.0
			  }
			}
		  ]
		},
		  "Type": "File"
    }
  ]
}